<div class="row border-bottom">
<div class="col-md-8 p-3 p-md-5 border-end">
<h3><strong><a href="{{ '/' | url }}" title="{{metadata.title}} {{metadata.info}}">{{metadata.info}}</a></strong></h3>
<p>{{metadata.infotext}}</p>
</div>
<div class="col-md-4 p-3 p-md-5">
<p>{{metadata.solution}}</p>
<p class="row"><small>
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.web1}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.web2}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.web3}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.web4}}</a> 
<a href="{{ '/' | url }}" class="col-md-4 col-6">{{metadata.web5}}</a>
</small>
</p>
</div>
</div>