<meta name="google-site-verification" content="4dtv9OQNf-WVMkxotvRSrDdwg1R02GjWZPMGy-TwK1A" />
<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<meta name="title" content="{{ title or metadata.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ metadata.url }}">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="{{ description or metadata.description }}">
<meta property="og:image" content="{{ cover or metadata.cover }}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ cover or metadata.cover }}">
<meta property="twitter:title" content="{{ title or metadata.title }}">
<meta property="twitter:description" content="{{ description or metadata.description }}">
<meta property="twitter:image" content="{{ cover or metadata.cover }}">
<meta content="index, follow" name="robots">